<div th:fragment="inputs">
    <input type="hidden" name="page" th:value="${page.number}">
    <input type="hidden" name="size" th:value="${page.size}">
    <th:block th:each="order : ${page.sort}">
        <input type="hidden" name="sort"
               th:value="${order.property + ',' + order.direction.name().toLowerCase()}">
    </th:block>
    <input type="hidden" name="durationId" th:value="${filters.durationId}">
    <input type="hidden" name="subject" th:value="${filters.subject}">
    <input type="hidden" name="group" th:value="${filters.group}">
    <input type="hidden" name="lecturer.name" th:value="${filters.lecturer.name}">
    <input type="hidden" name="lecturer.sureName" th:value="${filters.lecturer.sureName}">
    <input type="hidden" name="room" th:value="${filters.room}">
</div>Title