<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{styles/css.html :: my-css}">
    <meta charset="UTF-8">
    <title>Duration List</title>
</head>
<body class="py-4">
<div class="container">
    <h2 class="text-white mb-3">Durations</h2>
    <a th:href="@{create-duration}" class="btn btn-success btn-sm">Create Duration</a>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover bg-white">
            <thead class="table-dark">
            <tr>
                <th>
                    <a class="text-white"
                       th:href="@{/{path}(path = ${url}, page=${page.number}, size=${page.size}, sort='start,' + (${page.sort.getOrderFor('start')?.ascending} ? 'desc' : 'asc'))}">
                        Start Time
                    </a>
                </th>
                <th>
                    <a class="text-white"
                       th:href="@{/{path}(path = ${url}, page=${page.number}, size=${page.size}, sort='end,' + (${page.sort.getOrderFor('end')?.ascending} ? 'desc' : 'asc'))}">
                        End Time
                    </a>
                </th>
                <th>
                    <a>Actions</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="duration : ${durations}">
                <td th:text="${duration.start}">09:00</td>
                <td th:text="${duration.end}">10:30</td>
                <td class="d-flex gap-2">
                    <form th:action="@{/admin/delete-duration}" method="post">
                        <input type="hidden" name="durationId" th:value="${duration.id}"/>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div th:replace="~{hidden-inputs/duration-hidden-inputs :: inputs}"></div>
                        <button type="submit" class="btn btn-link p-0 text-danger" title="Delete lesson">
                            <i class="bi bi-trash fs-5"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:insert="~{page :: pageNavigation}"></div>
</div>
</body>
</html>