<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{styles/css.html :: my-css}">
    <meta charset="UTF-8">
    <title>Duration List</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>
            <a th:href="@{/durations(sortField='id', sortDirection=${currentSortField == 'id' ? nextDir : 'asc'})}">
                ID
            </a>
        </th>

        <th>
            <a th:href="@{/durations(sortField='start', sortDirection=${currentSortField == 'start' ? nextDir : 'asc'})}">
                Start Time
            </a>
        </th>

        <th>
            <a th:href="@{/durations(sortField='end', sortDirection=${currentSortField == 'end' ? nextDir : 'asc'})}">
                End Time
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="duration : ${durations}">
        <td th:text="${duration.id}">ID</td>
        <td th:text="${duration.start}">09:00</td>
        <td th:text="${duration.end}">10:30</td>
    </tr>
    </tbody>
</table>
</body>
</html>