<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{styles/css.html :: my-css}">
    <meta charset="UTF-8">
    <title>Groups List</title>
</head>
<body class="py-4">
<div class="container">
    <h2 class="text-white mb-3">Groups</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover bg-white">
            <thead class="table-dark">
            <tr>
                <th>
                    <a class="text-white">Group Name</a>
                </th>
                <th>

                    <a>Actions</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="group : ${groups}">
                <td th:text="${group.name}">A-123</td>
                <td>
                    <form
                        th:action="@{/{groupId}/students(groupId=${group.id})}"
                        method="get">
                        <button type="submit"
                                class="btn btn-link p-0 text-bg-primary"
                                title="users detail">
                            <i class="bi bi-journal-bookmark fs-5"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>