<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{styles/css.html :: my-css}">
    <meta charset="UTF-8">
    <title>Groups List</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>
            <a th:href="@{/groups(sortField='id', sortDirection=${sortField == 'id' ? nextDir : 'asc'})}">
                ID
            </a>
        </th>

        <th>
            <a th:href="@{/groups(sortField='name', sortDirection=${sortField == 'name' ? nextDir : 'asc'})}">
                Group Name
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="group : ${groups}">
        <td th:text="${group.id}">ID</td>
        <td th:text="${group.name}">A-123</td>
    </tr>
    </tbody>
</table>
</body>
</html>