<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{styles/css.html :: my-css}">
    <meta charset="UTF-8">
    <title>Lecturer List</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th><a th:href="@{/lecturers(sortField='name', sortDirection=${sortField == 'name' ? nextDir : 'asc'})}">
            First Name
            <th:block th:if="${currentSortField == 'name'}">
                <span th:text="${currentSortDir == 'asc' ? '↑' : '↓'}"></span>
            </th:block>
        </a></th>

        <th><a th:href="@{/lecturers(sortField='sureName', sortDirection=${sortField == 'sureName' ? nextDir : 'asc'})}">
            Last Name
            <th:block th:if="${currentSortField == 'sureName'}">
                <span th:text="${currentSortDir == 'asc' ? '↑' : '↓'}"></span>
            </th:block>
        </a></th>

        <th><a th:href="@{/lecturers(sortField='email', sortDirection=${sortField == 'email' ? nextDir : 'asc'})}">
            Email
            <th:block th:if="${currentSortField == 'email'}">
                <span th:text="${currentSortDir == 'asc' ? '↑' : '↓'}"></span>
            </th:block>
        </a></th>

        <th><a th:href="@{/lecturers(sortField='dateOfBirth', sortDirection=${sortField == 'dateOfBirth' ? nextDir : 'asc'})}">
            Date of Birth
        </a></th>

        <th><a th:href="@{/lecturers(sortField='salary', sortDirection=${sortField == 'salary' ? nextDir : 'asc'})}">
            Salary
        </a></th>

        <th>Subjects</th> <th><a th:href="@{/lecturers(sortField='address.country', sortDirection=${sortField == 'address.country' ? nextDir : 'asc'})}">
        Country
    </a></th>

        <th><a th:href="@{/lecturers(sortField='address.phoneNumber', sortDirection=${sortField == 'address.phoneNumber' ? nextDir : 'asc'})}">
            Phone
        </a></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lecturer : ${lecturers}">
        <td th:text="${lecturer.name}">Name</td>
        <td th:text="${lecturer.sureName}">Surname</td>
        <td th:text="${lecturer.email}">Email</td>
        <td th:text="${lecturer.dateOfBirth}">9999-99-99</td>
        <td th:text="${lecturer.salary}">0.00</td>
        <td th:text="${#strings.setJoin(lecturer.getSubjects(), ', ')?: '-'}">Subjects List</td>
        <td th:text="${lecturer.address?.country ?: '-'}">Country</td>
        <td th:text="${lecturer.address?.phoneNumber ?: '-'}">Phone</td>
    </tr>
    </tbody>
</table>

<div th:insert="page :: page"></div>
</body>
</html>