<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{styles/css.html :: my-css}">
    <meta charset="UTF-8">
    <title>Lessons List</title>
</head>
<body class="py-4">
<div class="container" th:fragment="lessons">
    <form th:action="@{/{url}(url=${url})}" method="get" class="row g-2 mb-4">
        <div class="col-auto">
            <select name="durationId" class="form-select">
                <option value="">All durations</option>
                <option th:each="d : ${durations}" th:value="${d.id}"
                        th:text="${d}"
                        th:selected="${d.id == filters.durationId}"></option>
            </select>
        </div>
        <div class="col-auto">
            <input type="text" name="subject" placeholder="Subject"
                   th:value="${filters.subject}" class="form-control">
        </div>
        <div class="col-auto">
            <input type="text" placeholder="Group" name="group"
                   th:value="${filters.group}" class="form-control">
        </div>
        <div class="col-auto">
            <input type="text" name="lecturer.name" placeholder="Lecturer name"
                   th:value="${filters.lecturer.name}" class="form-control">
        </div>
        <div class="col-auto">
            <input type="text" name="lecturer.sureName"
                   placeholder="Lecturer surname"
                   th:value="${filters.lecturer.sureName}" class="form-control">
        </div>
        <div class="col-auto">
            <input type="text" name="room" placeholder="Room"
                   th:value="${filters.room}" class="form-control">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
        <div class="col-auto">
            <a th:href="@{/{url}(url=${url})}" class="btn btn-outline-light">Reset</a>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover bg-white">
            <thead class="table-dark">
            <tr>
                <th>
                    <a class="text-white"
                       th:href="@{/{path}(path = ${url}, page=${page.number}, size=${page.size}, sort='date,' + (${page.sort.getOrderFor('date')?.ascending} ? 'desc' : 'asc'))}">
                        Date
                    </a>
                </th>
                <th>
                    <a class="text-white"
                       th:href="@{/{path}(path = ${url}, page=${page.number}, size=${page.size}, sort='duration,' + (${page.sort.getOrderFor('duration')?.ascending} ? 'desc' : 'asc'))}">
                        Duration
                    </a>
                </th>
                <th>
                    <a class="text-white"
                       th:href="@{/{path}(path = ${url}, page=${page.number}, size=${page.size}, sort='subject,' + (${page.sort.getOrderFor('subject')?.ascending} ? 'desc' : 'asc'))}">
                        Subject
                    </a>
                </th>
                <th>
                    <a class="text-white"
                       th:href="@{/{path}(path = ${url}, page=${page.number}, size=${page.size}, sort='group,' + (${page.sort.getOrderFor('group')?.ascending} ? 'desc' : 'asc'))}">
                        Group
                    </a>
                </th>
                <th>
                    <a class="text-white"
                       th:href="@{/{path}(path = ${url}, page=${page.number}, size=${page.size}, sort='lecturer,' + (${page.sort.getOrderFor('lecturer')?.ascending} ? 'desc' : 'asc'))}">
                        Lecturer
                    </a>
                </th>
                <th>
                    <a class="text-white"
                       th:href="@{/{path}(path = ${url}, page=${page.number}, size=${page.size}, sort='room,' + (${page.sort.getOrderFor('room')?.ascending} ? 'desc' : 'asc'))}">
                        Room
                    </a>
                </th>
                <th>
                    <a class="text-white">Actions</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lesson : ${lessons}">
                <td th:text="${#temporals.format(lesson.date, 'dd.MM.yyyy')}">
                    01.01.2026
                </td>
                <td th:text="${lesson.duration}">Duration</td>
                <td th:text="${lesson.subject}">Subject</td>
                <td th:text="${lesson.group}">Group</td>
                <td th:text="${lesson.lecturer}">Lecturer Name</td>
                <td th:text="${lesson.room}">Room</td>
                <td class="d-flex gap-2">
                    <form th:action="@{/lessons/delete-lesson}" method="post">
                        <input type="hidden" name="lessonId"
                               th:value="${lesson.id}"/>
                        <input type="hidden" th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}"/>
                        <div
                            th:replace="~{hidden-inputs/lesson-hidden-inputs :: inputs}"></div>
                        <button type="submit"
                                class="btn btn-link p-0 text-danger"
                                title="Delete lesson">
                            <i class="bi bi-trash fs-5"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:insert="~{page :: pageNavigation}"></div>
</div>
</body>
</html>