<div th:fragment="page">
    <div th:if="${page.totalPages > 1}">
        <a th:if="${!page.first}"
           th:href="@{'/'+${url}(page=${page.number - 1}, size=${page.size}, sort=${#strings.replace(page.sort.toString(), ': ', ',')})}">
            Back
        </a>

        <span>[[${page.number + 1}]] / [[${page.totalPages}]]</span>

        <a th:if="${!page.last}"
           th:href="@{'/'+${url}(page=${page.number + 1}, size=${page.size}, sort=${#strings.replace(page.sort.toString(), ': ', ',')})}">
            Next
        </a>
    </div>
</div>