<body>
<div th:fragment="page">
    <div th:if="${totalPages > 1}">
        <a th:if="${currentPage > 1}"
           th:href="@{'/' + ${url}(pageNo=${currentPage - 1}, sortField=${sortField}, sortDirection=${sortDir})}">
            Back
        </a>

        <span>[[${currentPage}]] / [[${totalPages}]]</span>

        <a th:if="${currentPage < totalPages}"
           th:href="@{'/' + ${url}(pageNo=${currentPage + 1}, sortField=${sortField}, sortDirection=${sortDir})}">
            Next
        </a>
    </div>
</div>
</body>