<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{styles/css.html :: my-css}">
    <meta charset="UTF-8">
    <title>Room Types List</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>
            <a th:href="@{/${url}(page=${page.number}, size=${page.size}, sort='name,' + (${page.sort.getOrderFor('name')?.ascending} ? 'desc' : 'asc'))}">
                Type Name
            </a>
        </th>

        <th>
            <a th:href="@{/${url}(page=${page.number}, size=${page.size}, sort='capacity,' + (${page.sort.getOrderFor('capacity')?.ascending} ? 'desc' : 'asc'))}">
                Capacity
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="type : ${roomTypes}">
        <td th:text="${type.name}">Lecture Hall</td>
        <td th:text="${type.capacity}">0</td>
    </tr>
    </tbody>
</table>

<div th:insert="~{page :: page}"></div>
</body>
</html>