<!DOCTYPE html>
<html lang="en">
<head th:insert="~{styles/css.html :: my-css}">
    <meta charset="UTF-8">
    <title>Student List</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th><a th:href="@{/students(
                sortField='name',
                sortDirection=${sortField == 'name' ? nextDir : 'asc'}
            )}">
            First Name
        </a></th>

        <th><a th:href="@{/students(
                sortField='sureName',
                sortDirection=${sortField == 'sureName' ? nextDir : 'asc'}
            )}">
            Sure Name
        </a></th>
        <th>
            <a th:href="@{/students(
                sortField='email',
                sortDirection=${sortField == 'email' ? nextDir : 'asc'}
            )}">
                Email
            </a>
        </th>

        <th><a th:href="@{/students(
                sortField='dateOfBirth',
                sortDirection=${sortField == 'dateOfBirth' ? nextDir : 'asc'}
            )}">
            Date of Birth
        </a>
        </th>

        <th><a th:href="@{/students(
                sortField='group',
                sortDirection=${sortField == 'group' ? nextDir : 'asc'}
            )}">
            Group
        </a>
        </th>

        <th><a th:href="@{/students(
                sortField='degree',
                sortDirection=${sortField == 'degree' ? nextDir : 'asc'}
            )}">
            Degree
        </a>
        </th>
        <th><a th:href="@{/students(
                sortField='address.country',
                sortDirection=${sortField == 'address.country' ? nextDir : 'asc'}
            )}">
            Country
        </a></th>
    <th><a th:href="@{/students(
                sortField='address.phoneNumber',
                sortDirection=${sortField == 'address.phoneNumber' ? nextDir : 'asc'}
            )}">
        Phone Number
    </a></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.name}">Name</td>
        <td th:text="${student.sureName}">Surname</td>
        <td th:text="${student.email}">Email</td>
        <td th:text="${student.dateOfBirth}">1990-01-01</td>

        <td th:text="${student.group?.toString() ?: '-'}">
            Group
        </td>
        <td th:text="${student.degree}">BACHELOR</td>
        <td th:text="${student.address?.country ?: '-'}">
            Country
        </td>
        <td th:text="${student.address?.phoneNumber ?: '-'}">
            Phone
        </td>
    </tr>
    </tbody>
</table>
<div th:insert="page :: page"></div>
</body>
</html>