<!DOCTYPE html>
<html lang="en">
<head th:insert="~{styles/css.html :: my-css}">
    <meta charset="UTF-8">
    <title>Student List</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>
            <a th:href="@{/${url}(page=${page.number}, size=${page.size}, sort='name,' + (${page.sort.getOrderFor('name')?.ascending} ? 'desc' : 'asc'))}">
                First Name
            </a>
        </th>

        <th>
            <a th:href="@{/students(page=${page.number}, size=${page.size}, sort='sureName,' + (${page.sort.getOrderFor('sureName')?.ascending} ? 'desc' : 'asc'))}">
                Sure Name
            </a>
        </th>

        <th>
            <a th:href="@{/${url}(page=${page.number}, size=${page.size}, sort='email,' + (${page.sort.getOrderFor('email')?.ascending} ? 'desc' : 'asc'))}">
                Email
            </a>
        </th>

        <th>
            <a th:href="@{/${url}(page=${page.number}, size=${page.size}, sort='dateOfBirth,' + (${page.sort.getOrderFor('dateOfBirth')?.ascending} ? 'desc' : 'asc'))}">
                Date of Birth
            </a>
        </th>

        <th>
            <a th:href="@{/${url}(page=${page.number}, size=${page.size}, sort='group,' + (${page.sort.getOrderFor('group')?.ascending} ? 'desc' : 'asc'))}">
                Group
            </a>
        </th>

        <th>
            <a th:href="@{/${url}(page=${page.number}, size=${page.size}, sort='degree,' + (${page.sort.getOrderFor('degree')?.ascending} ? 'desc' : 'asc'))}">
                Degree
            </a>
        </th>

        <th>
            <a th:href="@{/${url}(page=${page.number}, size=${page.size}, sort='address.country,' + (${page.sort.getOrderFor('address.country')?.ascending} ? 'desc' : 'asc'))}">
                Country
            </a>
        </th>

        <th>
            <a th:href="@{/${url}(page=${page.number}, size=${page.size}, sort='address.phoneNumber,' + (${page.sort.getOrderFor('address.phoneNumber')?.ascending} ? 'desc' : 'asc'))}">
                Phone Number
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.name}">Name</td>
        <td th:text="${student.sureName}">Surname</td>
        <td th:text="${student.email}">Email</td>
        <td th:text="${student.dateOfBirth}">1990-01-01</td>

        <td th:text="${student.group?.toString() ?: '-'}">
            Group
        </td>
        <td th:text="${student.degree}">BACHELOR</td>
        <td th:text="${student.address?.country ?: '-'}">
            Country
        </td>
        <td th:text="${student.address?.phoneNumber ?: '-'}">
            Phone
        </td>
    </tr>
    </tbody>
</table>
<div th:insert="page :: page"></div>
</body>
</html>