<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{styles/css.html :: my-css}">
    <meta charset="UTF-8">
    <title>Subjects List</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>
            <a th:href="@{/{path}(path = ${url}, page=${page.number}, size=${page.size}, sort='name,' + (${page.sort.getOrderFor('name')?.ascending} ? 'desc' : 'asc'))}">
                Subject Name
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="subject : ${subjects}">
        <td th:text="${subject.name}">Math</td>
    </tr>
    </tbody>
</table>

<div th:insert="~{page :: pageNavigation}"></div>
</body>
</html>